{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account %}
{% load url from future %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<h1>{% trans "Sign In" %}</h1>

<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

<div class="container">
    <div class="row">
        <div class="col-md-9">
            <form role="form" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-default" type="submit">{% trans "Sign In" %}</button>
                <button class="btn btn-default" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
