body {
//    background-color: #B59855;
    font-family: "Helvetica Neue";
}
.red {
    color: red;
}
.yellow {
    color: orange;
}
.sidebar {
    font-size: 20px;
}
#banner {
    align-content: center;
}

.thumbnail {
    background-color: black;
}

.panel-body {
    color: black;
}

.navbar {
    margin-bottom: 0;
}
.black {
    background-color: black;
    color: white;
}

.forum-list {
    width: 60%;
}
