{% extends "base.html" %}

{% block content %}
<h1>What is Real Sharps?</h1>
<p>Real Sharps is a private sports investment company that recruits the top handicappers in the game to invest our clients and firm money. You can be certain that each selection is heavily back by the firms bankroll. Our handicappers use unique methods not limited to algorithms, statistical analysis, historical trends, fundamentals, line reading, and situational reads.</p>

<h1>How can I purchase a package?</h1>
<p>There are a few ways to become a client of Real Sharps. You can work directly with one of our handicappers by selecting their packages under Sports Picks or by clicking on each of the handicapper pages. If you choose to receive plays from all cappers, you can click the All Access Link or search for the All Access Packages under Sports Picks. You then select Purchase under the correct package and pay using PayPal. If you are a new client, you will receive a login and password when you purchase.  Not only does Real Sharps produce real results, but packages also include analysis, articles, and training.</p>

<h1>Is your performance documented?</h1>
<p>Yes, you can find each cappers record on their respective handicapper page by each sport.</p>

<h1>How do I receive plays?</h1>
<p>When you log in on the home page, all plays included in your package will be posted there.   The cappers will include juice for each play and may include a description on each play. You can also leave your phone number to receive plays directly. We do insist that you log on to the site in case of any technical difficulties. When you sign up for a specific capper, all of their plays will be distributed including bangers, bombs, or specials.</p>

<h1>How should a client manage their bankroll?</h1>
<p>Money management is one of the biggest factors in turning a profit betting on sports. You can contact your capper directly on the Contact Us page if you would like to discuss bankroll management. Each capper has a different strategy, but all have one common goal of winning consistently.  When listing a play, handicappers will reveal how strong the selection is.</p>

<h1>What are All Access packages?</h1>
<p>All Access packages contain all selections from all handicappers.  This is the ideal method as each handicapper may specialize in a specific sport.</p>

<h1>Do you recommend any sports books to place bets?</h1>
<p>Real Sharps is not a gambling site. We provide you with expert selections, but you must place your wagers at your local book or other online betting site.  Please play responsibly.</p>
{% endblock content %}
