{% extends "base.html" %}
{% block content %}
    {% if purchased %}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">{{ pick.name }}, {{ pick.event_date }}</div>
            <div class="panel-body"><h3>By <a href="{% url 'capper_list' pk=pick.author.pk %}">{{ pick.author }}</a></h3><hr/>{{ pick.pick_text }}</div>
        </div>
    </div>
    {% else %}
    <div class="row">
        <h1>{{ pick.name }}<small> ${{ pick.price }}</small></h1>
        <p>Description: {{ pick.teaser }}</p>
        <form action="/charge" method="POST">
                        <script
                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
                            data-image="/square-image.png"
                            data-name="RealSharps"
                            data-label="Buy Now"
                            data-description="{{ pick.name }}"
                            data-amount="{{ pick.price_in_cents }}">
                        </script>
                        <input type="hidden" name="product-pk" value="{{ pick.id }}" />
                    </form>    </div>
    {% endif %}
{% endblock %}
